html {

}

body {  
  font-family: 'Roboto Condensed', sans-serif;
  background-image: linear-gradient(rgba(63, 130, 141, 0.5), rgba(63, 130, 141, 0.5)),
  url(../img/boy-blowing-bubbles_4460x4460.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

#layer {
   top:0;
   background-color: rgba(20, 76, 85, 0.6);

   width: 100%;
   height: 80px;
   border-radius: 0 0 25px 25px;
   position: relative;
}

h1 {
  font-size: 
}

h1 , h2 {
  color:white;
}

section {
  text-align: center;  
}

#bienvenue-title {
  height:100px;
  left:960px;
}

.citation {
  color: rgb(10, 41, 46);
}

#corps {

  display: inline-block;
}


p {
  color: white;
}

#layer {
  top:0px;
}


ul {
float:right;
text-align: right;
padding-top: 30px;
}

li , a {
  font-size: 14px;
  list-style-type:none;
   color:white;
   text-decoration: none;
   padding-right: 15px;
   display: inline;
}

#likedquote {
  margin:0 auto;
  padding-top: 18px;
  font-size: 16px;
  text-align: center;
}

.photo{
  display: inline-block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
/* ---- Footer ---- */

footer {

  bottom:0;
  position: fixed;
  background-color: rgba(20, 76, 85, 0.658);

  width: 100%;
  height: 80px;
  border-radius: 25px 25px 0 0;
}

#video {
  padding-top: 15px;
}

.iconsocial {
  width: 36px;
  position: relative;
  left:45%;
  padding-top: 20px;
  padding-left: 24px;

}