html {
  width:100%;
  height:100%;
}

body {  
  font-family: 'Roboto Condensed', sans-serif;
  background-image: linear-gradient(rgba(63, 130, 141, 0.5), rgba(63, 130, 141, 0.5)),
  url(../img/boy-blowing-bubbles_4460x4460.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  margin: 0 auto;
}

#layer {
   top:0;
   background-color: rgba(20, 76, 85, 0.6);
   opacity: 5%;
   width: 100%;
   height: 120px;
   border-radius: 0 0 25px 25px;
   position: fixed;
}

p {
  color: white;
}

#layer {
  top:0px;
}


ul {
float:right;
text-align: right;
padding-top: 35px;
}

li , a {
  font-size: 20px;
  list-style-type:none;
  color:white;
   text-decoration: none;
   float:left;
   padding-right: 15px;
}


/* ---- Footer ---- */

footer {
  margin: 0 auto;
  bottom:0;
  position:fixed;
  background-color: rgba(20, 76, 85, 0.658);
  opacity: 5%;
  width: 100%;
  height: 120px;
  border-radius: 25px 25px 0 0;
}

.iconsocial {
  width: 48px;
  position: relative;
  left:50%;
  padding-top: 35px;
}